.timeStyle {
  text-align: center;
  background-color: #60a5fa;
  max-height: fit-content;
  max-width: 10rem;
  min-width: fit-content;
}

.centerText {
  display: inline-block;
  vertical-align: middle;
}
